<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div style="text-align: center;">
        <a href="/">
          <h1>Amazing Web Game Thing</h1>
        </a>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= yield %>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="footer-container">
            <hr>
              <footer><center> © Questions Questions 2015 </center></footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
